@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;                                              
    font-size: 15px;
}

.nav1{
    width: 100%;
    height: 60px;
    background: linear-gradient(
                to right,
                #65759D,
                #8C6691,
                #DF9887
    );
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

h2{
    color: #FFFFFF;
}

nav{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: #272727 solid 0.5px;
}

a{
    text-decoration: none;
    color: #E4E4E4;
    padding:20px;
    padding-top: 29px;
    padding-bottom: 29px;

}

a:hover{
    border-bottom: solid 2px white;
}

div{
    color: #E4E4E4;
}

.contenedorItemsNav1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedorItemsNav2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.launcher{
    padding: 10px;
    background: #FCAF17;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;

    transition: all 0.6s;
}

.launcher:hover{
    background:#fcb017d6;
}

.iconoR{
    width: 60px;
    height: 60px;
    background-image: url("assets/iconoRsvg.svg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover cover;
    color: #E4E4E4;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.launcher,.icono1{
    margin: 18px;
}

.icono1{
    font-size: 26px;
    color: #E4E4E4;
    cursor: pointer;
}

.icono2{
    font-size: 18px;
    color: #E4E4E4;
    cursor: pointer;
}

.contenedorUser{
    margin: 18px;
    background: #272727;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contenedorHeader{
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 520px;
    width: 100%;
}

.itemHeader1{
    width: 70%;
    height: 100%;
    background: url("assets/gta6.jpg");
    background-repeat: no repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: all 0.6s;
}

.itemHeader1:hover{
    opacity: 70%;
}

.itemHeader2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: black;
    width: 30%;
    height: 100%;
}

.subt{
    font-size: 17px;
}

.titulo{
    font-size: 38px;
    font-weight: bolder;
}

.itemH{
    margin-left: 36px;
    padding: 8px;
}

h1{
    width: 75%;
}

.boton{
    margin-bottom: 70px;
    margin-top: 38px;
    border: solid 1px white;
    padding: 18px;
    margin-left: 44px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-weight: bold;

    transition: all 0.5s;
}

.boton:hover{
    color: black;
    background: #FCAF17;
    border: solid 1px black;
}
